/* general rules */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700&display=swap");

:root {
  /* typography */
  --primeFontFam: "Raleway", sans-serif;
  --primefontWei: 400;
  --secondaryFontWei: 100;
  --thirdFontWei: 600;

  --secondaryFontSize: 16px;

  /* colors */
  --grey: #f2f2f2;
  --blue: #0065fc;
  --lightblue: #deebff;
}

body {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0;
  font-family: var(--primeFontFam);
  font-weight: var(--primefontWei);
}

img {
  object-fit: cover;
}

p {
  font-weight: var(--secondaryFontWei);
}

a {
  text-decoration: none;
  font-weight: var(--primeFontWei);
  color: black;
}

.inscription {
  color: var(--blue);
}

h3 {
  font-size: 15px;
}

span {
  font-weight: var(--primefontWei);
}

.pad0 {
  padding: 0px;
}
.flex {
  display: flex;
}

.flexrow {
  display: flex;
  flex-direction: row;
}
.flexcol {
  display: flex;
  flex-direction: column;
}

/* ********** HEADER ********** */
header {
  padding: 0 4%;
  height: 80px;
  align-items: center;
  justify-content: space-between;
}

nav {
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

nav > ul {
  list-style: none;
}

.liNav > a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.liNav > .inscription {
  color: var(--blue);
}

.liNav :hover {
  color: var(--blue);
  border-top: solid 1px var(--blue);
}

nav > ul {
  padding: 0;
  width: 100%;
  justify-content: space-between;
}

/* ********** TOP SECTION ********** */
.Topsection {
  margin-top: 2%;
  padding: 0 3%;
}

.search {
  justify-content: flex-end;
  width: 400px;
  height: 50px;
  background: linear-gradient(
    90deg,
    rgba(242, 242, 242, 1) 0%,
    rgba(242, 242, 242, 1) 20%,
    rgba(255, 255, 255, 1) 100%
  );

  border-radius: 15px;
  border: solid 1px var(--grey);
  margin-bottom: 40px;
}

.search > i {
  align-items: center;
  justify-content: center;
  margin: 15px 20px 0 0;
}

.search > input {
  font-family: var(--primeFontFam);
  font-size: var(--secondaryFontSize);
  font-weight: 600;
  color: black;
  width: 50%;
  border: none;
  padding-left: 4%;
}

.searchButton {
  font-family: var(--primeFontFam);
  font-size: var(--secondaryFontSize);
  font-weight: 500;
  border: none;
  border-radius: 0 15px 15px 0;
  background-color: rgb(0, 110, 255);
  width: 35%;
  color: white;
}

.magnifying {
  visibility: hidden;
  position: absolute;
  margin: 0 auto;
}

.filtreSection {
  width: 80%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
}

.filtreSection > p {
  font-weight: bold;
}

.filtretype {
  flex-wrap: wrap;
}

.filtre {
  margin-left: 35px;
  padding-right: 20px;
  border-radius: 50px;
  height: 50px;
  background-color: white;
  border: solid 3px var(--grey);
  align-items: center;
  font-weight: var(--thirdFontWei);
}

.filtre:hover {
  background-color: var(--blue);
}

.info {
  margin-top: 40px;
}

.info > p {
  padding: 5px 3%;
  margin: 0;
  font-weight: var(--primefontWei);
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lightblue);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 15px 0 -15px;
}

.circle > i {
  color: var(--blue);
}

.fa-info {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: solid 2px var(--grey);
  width: 25px;
  height: 25px;
  color: var(--blue);
}

/* ********** MAIN PAGE ********** */
.fa-star {
  color: var(--blue);
}

.box {
  position: relative;
  padding: 5px;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.content {
  padding-left: 5%;
}

.hebstar {
  position: absolute;
  top: 175px;
}

/* ********** MID PAGE ********** */

.midpage {
  flex-direction: row-reverse;
  flex-wrap: wrap;
  padding: 2%;
  justify-content: space-around;
  height: auto;
}
#hebergement {
  width: 60%;
  height: 600px;

  border-radius: 30px;
}
aside {
  width: 376px;
  border-radius: 30px;
}
#hebergement,
aside,
footer {
  background-color: var(--grey);
}

#hebergement,
.activites,
aside {
  padding: 0 2%;
  position: relative;
}

/* ********** HEBERGEMENT ********** */

#hebergement > .container {
  justify-content: space-between;
  flex-wrap: wrap;
  height: 76%;
}

#hebergement > .container > .box {
  min-width: 235px;
  height: 187px;
}

.vue {
  width: 100%;
  height: 60%;
  border-radius: 15px 15px 0 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.seemore {
  position: absolute;
  bottom: 30px;
  border: none;
  background-color: unset;
  font-size: var(--secondaryFontSize);
  font-weight: 600;
}
/* ********** ASIDE ********** */
.titleAside {
  padding: 0 5%;
  align-items: center;
  justify-content: space-between;
}

aside > .container {
  height: 79%;
  justify-content: space-between;
  padding: 2%;
}

aside > .container > .box {
  height: 130px;
}

.content > h3,
.content > p {
  padding: 0;
  margin: 6px 0 0 0;
}

.asidecontent {
  position: relative;
  width: 60%;
  padding: 0 5%;
}
.asidecontent > p {
  padding: 0;
  margin: 0;
}
.asidecontent > h3 {
  padding: 0;
  margin: 10px 0;
}

.asidecontent > .stars {
  position: absolute;
  bottom: 5px;
}

.popvue {
  width: 33%;
  height: 100%;
  border-radius: 15px 0 0 15px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* ********** ACTIVITES ********** */
#activites {
  padding: 3%;
  display: flex;
  flex-wrap: wrap;
}

#activites > .content {
  width: 100%;
  justify-content: space-around;
}

.activitybox {
  width: 45%;
  height: 400px;
}

.Activue {
  width: 100%;
  height: 85%;
  border-radius: 15px 15px 0 0;
}

.pad0 > h3 {
  padding-left: 6%;
}

.Activue_B {
  height: 70%;
  object-position: center 45%;
}

.Activue_C {
  height: 65%;
  object-position: center 20%;
}

.Activue_D {
  height: 68%;
  object-position: center 30%;
}

.Activue_E {
  height: 68%;
  object-position: center 35%;
}

.bottomcontent {
  max-width: 1400px;
  flex-wrap: wrap;
  justify-content: center;
}

.splitter {
  width: 50%;
  min-width: 650px;
  display: flex;
  justify-content: space-around;
}

.boxB {
  height: 50%;
  margin-bottom: 23px;
}

.boxC {
  height: 42%;
}

.boxD {
  height: 45%;
  margin-bottom: 23px;
}
.boxE {
  height: 47%;
}

/* ********** FOOTER ********** */
footer {
  text-align: start;
  justify-content: flex-start;
  padding: 3% 2% 2% 2%;
}

footer > ul {
  width: 75%;
  list-style: none;
  justify-content: space-between;
}

li > h2 {
  font-size: 20px;
}

.footercontent > li {
  margin-top: 10px;
}

.footercontent {
  padding: 0;
  list-style: none;
}

.footercontent > a {
  color: black;
  font-weight: var(--secondaryFontWei);
  margin-bottom: 15px;
}

/* Media Queries */

@media (max-width: 1382px) {
  .splitter {
    margin-bottom: 50px;
  }
}

@media (max-width: 1300px) {
  main {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
  }
  #hebergement {
    width: 50%;
    height: auto;
  }
  #hebergement > .container > .box {
    margin-bottom: 50px;
  }

  .seemore {
    bottom: 16px;
    left: 27px;
  }
}

@media (max-width: 1060px) {
  .filtretype {
    height: 120px;
  }
  #hebergement {
    min-width: 500px;
  }

  #activites {
    height: auto;
    flex-direction: column;
  }
}
@media (max-width: 991px) {
  .midpage {
    padding: 0;
    flex-direction: column;
  }

  .info {
    margin-top: 20px;
  }

  .titleAside {
    padding: 0 5%;
  }
  #hebergement > h2 {
    padding-left: 5%;
  }

  #hebergement,
  aside {
    width: 100%;
    border-radius: 0;
    padding: 0;
    margin: 0;
  }

  aside {
    margin-top: 30px;
    padding-bottom: 30px;
  }

  aside > .container > .box {
    width: 50%;
  }

  #hebergement {
    background-color: white;
  }
  #hebergement > .container {
    padding: 2%;
  }

  #hebergement > .container,
  aside > .container {
    justify-content: space-around;
  }

  aside > .container {
    align-items: center;
    height: 500px;
    padding: 0;
  }

  footer > ul {
    width: 90%;
  }

  .seemore {
    bottom: 20px;
    left: 32px;
  }
}

@media (max-width: 850px) {
  .footerlist {
    flex-direction: column;
    padding: 0 0 0 10%;
  }
  .footerlist {
    justify-content: space-around;
  }
  .footerlist > li {
    margin-top: 10px;
    width: 50%;
    margin-bottom: 60px;
  }
}

@media (max-width: 680px) {
  .midpage {
    margin: 15px 0 0 0;
  }
  #hebergement,
  aside {
    border-radius: 0;
    margin: 0 auto;
    min-width: unset;
  }

  #hebergement > .container {
    margin: 0 auto;
  }

  .vue {
    object-position: 0 70%;
  }

  .splitter {
    width: 100%;
    min-width: unset;
    flex-wrap: wrap;
    margin-bottom: unset;
    margin-bottom: 30px;
  }

  .activitybox {
    align-items: center;
  }

  .splitter > .box,
  .boxB,
  .boxC,
  .boxD,
  .boxE {
    padding: 0;
    margin-bottom: 30px;
    width: 80%;
    height: 200px;
  }

  .activitybox {
    margin-bottom: 30px;
    width: 100%;
  }
  .Activue,
  .Activue_B,
  .Activue_C,
  .Activue_D,
  .Activue_E {
    height: 140px;
  }
  #hebergement > .container > .box {
    width: 77%;
  }
  aside > .container > .box {
    width: 74%;
  }
  /* .activitybox > .box {
    width: 95%;
    height: auto;
  } */

  .seemore {
    left: 22px;
  }
}

@media (max-width: 550px) {
  body {
    position: relative;
  }

  .Topsection {
    margin-top: 10%;
    padding: 0 2% 0 5%;
  }

  .absolute {
    position: absolute;
    right: 0px;
    top: 0px;
  }
  header {
    flex-wrap: wrap;
  }
  nav {
    width: 100%;
  }

  nav > ul {
    justify-content: space-around;
  }
  .liNav :hover {
    border-top: 0px;
  }
  .respNav {
    display: flex;
    justify-content: center;
    width: 50%;
    border-bottom: solid 2px var(--grey);
  }

  .respNav:hover {
    border-bottom: solid 2px var(--blue);
  }

  .midpage {
    padding: 0;
  }

  #hebergement {
    border-radius: 0;
    width: 100%;
  }

  li > h2 {
    margin-top: 50px;
  }

  #hebergement > .container > .box,
  aside > .container > .box,
  .splitter > .box,
  .boxB,
  .boxC,
  .boxD,
  .boxE {
    width: 80%;
  }
  .search {
    margin: 0 auto;
    width: 90%;
  }

  .search > input {
    width: 65%;
  }

  .searchButton {
    width: 20%;
    border-radius: 15px;
  }

  .filtreSection {
    width: 100%;
  }

  .filtretype {
    height: 200px;
  }
  .filtre {
    margin-left: 13px;
  }
  .search > i {
    margin: auto;
  }
  .magnifying {
    visibility: visible;
    position: unset;
  }
  .searchButton > span {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
  }

  .footerlist > li {
    width: 70%;
  }

  .info > p {
    padding: 1% 3%;
    margin: 0;
  }
}
